@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
    var slides = (List<DOAN.Models.Slide>)ViewBag.Slides;
    var listNewsProducts = (List<DOAN.Models.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<DOAN.Models.Product>)ViewBag.ListFeatureProducts;
}

@section slide {
    <li>Cửa hàng</li>
}
<button id="adminHomeButton" type="button">Admin Home</button>

<script>
    document.getElementById('adminHomeButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("Index", "HomeAdmin", new { Area = "Admin" })';
    });

</script>



<!-- top Products -->
<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <!-- tittle heading -->
        <!-- //tittle heading -->
        <!-- product left -->
@*         @{
            Html.RenderAction("ProductCategory", "Product");
        } *@
        @await Component.InvokeAsync("ProductCategory")

        <!-- //product left -->
        <!-- product right -->


        <div class="left-ads-display col-md-9">
            <div class="wrapper_top_shop">
                 @if (slides != null)
                {
                    var item = slides.First(slide => slide.Id == 1);
                    <div class="col-md-6 shop_left">
                        <a href="@item.Link">
                            <img src="@item.Image" alt="">
                        </a>
                        <h6>40% off</h6>
                    </div>
                }

                @if (slides != null)
                {
                    var item = slides.First(slide => slide.Id == 2);
                    <div class="col-md-6 shop_left">
                        <a href="@item.Link">
                            <img src="@item.Image" alt="">
                        </a>
                        <h6>50% off</h6>
                    </div>
                } 



                <!-- product-sec1 -->
                <div class="product-sec1">
                    <!--/mens-->
                    @foreach (var item in listNewsProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "/" + item.Id;
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item">
                                        <img src="@item.Image" alt="@item.Name">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>
                                    </div>
                                    <div class="item-info-product">
                                        <h4>
                                            <a href="single.html">@item.Name </a>
                                        </h4>
                                        <div class="info-product-price">
                                            <div class="grid_meta">
                                                <div class="product_price">
                                                    <div class="grid-price ">
                                                        <span class="money ">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                                    </div>
                                                </div>
                                                <ul class="stars">
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shoe single-item hvr-outline-out">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="shoe_item" value=@item.Name>
                                                    <input type="hidden" name="amount" value=@(item.Price.HasValue?item.Price.Value.ToString("NO"):"Liên hệ" )>
                                                    <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    } 


                    <!-- //mens -->
                    <!-- /womens -->
                    <div class="col-md-4 product-men women_two">
                        <div class="product-shoe-info shoe">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    <img src="/assets/client/images/s4.jpg" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="single.html">Shuberry Heels </a>
                                    </h4>
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <div class="grid-price ">
                                                    <span class="money ">$575.00</span>
                                                </div>
                                            </div>
                                            <ul class="stars">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="shoe single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="shoe_item" value="Shuberry Heels">
                                                <input type="hidden" name="amount" value="575.00">
                                                <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-men women_two">
                        <div class="product-shoe-info shoe">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    <img src="/assets/client/images/s5.jpg" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="single.html">Red Bellies </a>
                                    </h4>
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <div class="grid-price ">
                                                    <span class="money ">$325.00</span>
                                                </div>
                                            </div>
                                            <ul class="stars">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="shoe single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="shoe_item" value="Red Bellies">
                                                <input type="hidden" name="amount" value="325.00">
                                                <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-men women_two">
                        <div class="product-shoe-info shoe">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    <img src="/assets/client/images/s6.jpg" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="single.html">Catwalk Flats</a>
                                    </h4>
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <div class="grid-price ">
                                                    <span class="money ">$425.00</span>
                                                </div>
                                            </div>
                                            <ul class="stars">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="shoe single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="shoe_item" value="Catwalk Flats">
                                                <input type="hidden" name="amount" value="425.00">
                                                <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //womens -->
                    <!-- /mens -->
                    <div class="content">
                        <div class="heading">
                            <h3>Sản phẩm hot</h3>
                        </div>
                    </div>
                     @foreach (var item in listFeatureProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "/" + item.Id;
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item">
                                        <img src="@item.Image" alt="@item.Name">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>
                                    </div>
                                    <div class="item-info-product">
                                        <h4>
                                            <a href="single.html">@item.Name </a>
                                        </h4>
                                        <div class="info-product-price">
                                            <div class="grid_meta">
                                                <div class="product_price">
                                                    <div class="grid-price ">
                                                        <span class="money ">@(item.Price.HasValue ? item.Price.Value.ToString("NO") : "Liên hệ")</span>
                                                    </div>
                                                </div>
                                                <ul class="stars">
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shoe single-item hvr-outline-out">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="shoe_item" value=@item.Name>
                                                    <input type="hidden" name="amount" value=@(item.Price.HasValue?item.Price.Value.ToString("NO"):"Liên hệ" )>
                                                    <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    } 
                    <!-- //mens -->
                    <div class="clearfix"></div>

                </div>

                <!-- //product-sec1 -->
              @if (slides != null)
                {
                    var item = slides.First(slide => slide.Id == 4);
                    <div class="col-md-6 shop_left shp">
                        <a href="@item.Link">
                            <img src="@item.Image" alt="">
                        </a>
                        <h6>21% off</h6>
                    </div>
                }

                @if (slides != null)
                {
                    var item = slides.First(slide => slide.Id == 3);
                    <div class="col-md-6 shop_right shp">
                        <a href="@item.Link">
                            <img src="@item.Image" alt="">
                        </a>
                        <h6>31% off</h6>
                    </div>
                } 


                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //top products -->
