@model List<DOAN.Models.ProductCategory>

<!-- product left -->
<div class="sIde-bar col-md-3">
    <div class="search-hotel">
        <h3 class="agileits-sear-head">Search Here..</h3>
        <form action="#" method="post">
            <input type="search" placeholder="Product name..." name="search" required="">
            <input type="submit" value=" ">
        </form>
    </div>
    <!-- price range -->
    <div class="range">
        <h3 class="agileits-sear-head">Price range</h3>
        <ul class="dropdown-menu6">
            <li>

                <div id="slider-range"></div>
                <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
            </li>
        </ul>
    </div>
    <!-- //price range -->
    <!--preference -->

    <div class="left-sIde">
        <h3 class="agileits-sear-head">Mẫu theo dịp</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <input type="checkbox" class="checked" id="checkbox-@item.Id" data-meta-title="@item.MetaTitle" data-id="@item.Id">
                    <label class="span" for="checkbox-@item.Id">
                        @item.Name
                    </label>
                </li>
                @*<li><a href="/san-pham/@item.MetaTitle-@item.Id">@item.Name</a></li>*@
            }


        </ul>
    </div>

    <!-- jQuery Script -->
    <script>
        $(document).ready(function () {
            //alert(123)
            $(".checked").on("change", function () {
                if ($(this).is(":checked")) {
                    var metaTitle = $(this).data("meta-title");
                    var id = $(this).data("id");
                    window.location.href = "/san-pham/" + metaTitle + "-" + id;
                }
            });
        });
    </script>

    <!-- // preference -->
    <!-- discounts -->
    <div class="left-sIde">
        <h3 class="agileits-sear-head">Menu</h3>
        <ul class="nav">
            @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                var child = Model.Where(x => x.ParentId == item.Id);
                var parentClass = child.Any() ? "dropdown-toggle" : "";

                <li class="dropdown">
                    <a href="/san-pham/@item.MetaTitle-@item.Id" class="@parentClass" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@item.Name</a>
                    @if (child.Any())
                    {
                        <ul class="dropdown-menu">
                            @foreach (var chilItem in child)
                            {
                                <li><a href="/san-pham/@chilItem.MetaTitle-@chilItem.Id">@chilItem.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>

    <!-- //discounts -->
    <!-- reviews -->
    <div class="customer-rev left-sIde">
        <h3 class="agileits-sear-head">Customer Review</h3>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <span>5.0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <span>4.0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star-half-o" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <span>3.5</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <span>3.0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star" aria-hIdden="true"></i>
                    <i class="fa fa-star-half-o" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <i class="fa fa-star-o" aria-hIdden="true"></i>
                    <span>2.5</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- //reviews -->
    <!-- deals -->
    <div class="deal-leftmk left-sIde">
        <h3 class="agileits-sear-head">Special Deals</h3>

        <div class="special-sec1">
            <div class="col-xs-4 img-deals">
                <img src="/assets/client/images/s4.jpg" alt="">
            </div>
            <div class="col-xs-8 img-deal1">
                <h3>Shuberry Heels</h3>
                <a href="single.html">$180.00</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <!-- //deals -->

</div>
<!-- //product left -->